meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Open controller for ZeroTier
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css", integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
style.
  
  .sidebar {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              z-index: 100;
              padding: 90px 0 0;
              box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
              z-index: 99;
          }
          
          @media (max-width: 767.98px) {
              .sidebar {
                  top: 11.5rem;
                  padding: 0;
              }
          }
          
          .navbar {
              box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
          }
          
          @media (min-width: 767.98px) {
              .navbar {
                  top: 0;
                  position: sticky;
                  z-index: 999;
              }
          }
          
          .sidebar .nav-link {
              color: #333;
          }
          
          .sidebar .nav-link.active {
              color: #0d6efd;
          }
  
nav.navbar.navbar-light.bg-light.p-3
  .d-flex.col-12.col-md-3.col-lg-2.mb-2.mb-lg-0.flex-wrap.flex-md-nowrap.justify-content-between
    a.navbar-brand(href="#").
      
      All Dashboard
      
    button.navbar-toggler.d-md-none.collapsed.mb-3(type="button", data-toggle="collapse", data-target="#sidebar", aria-controls="sidebar", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
  .col-12.col-md-5.col-lg-8.d-flex.align-items-center.justify-content-md-end.mt-3.mt-md-0
   
    .dropdown
      button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton(type="button", data-toggle="dropdown", aria-expanded="false").
        
        Hello, Admin
        
      ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
        li
          a.dropdown-item(href="/users/admin/password") Settings
        li
          a.dropdown-item(href="#") Messages
        li
          a.dropdown-item(href="/logout") Sign out
.container-fluid
  .row
    nav#sidebar.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
      .position-sticky
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(aria-current="page", href="#")
              svg.feather.feather-home(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                path(d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z")
                polyline(points="9 22 9 12 15 12 15 22")
              span.ml-2 Dashboard
          li.nav-item
            a.nav-link(href="loadingiperf")
              svg.feather.feather-file(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                path(d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z")
                polyline(points="13 2 13 9 20 9")
              span.ml-2 Iperf
          //- li.nav-item
          //-   a.nav-link(href="#")
          //-     svg.feather.feather-tool(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
          //-       circle(cx="9", cy="21", r="1")
          //-       circle(cx="20", cy="21", r="1")
          //-       path(d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6")
          //-     span.ml-2 Configuration
          li.nav-item
            a.nav-link(href="/users")
              svg.feather.feather-users(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                path(d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2")
                circle(cx="9", cy="7", r="4")
                path(d="M23 21v-2a4 4 0 0 0-3-3.87")
                path(d="M16 3.13a4 4 0 0 1 0 7.75")
              span.ml-2 Adminstration
          //
             <li class="nav-item">
                                      <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                        <span class="ml-2">Reports</span>
                                      </a>
                                    </li> 
          li.nav-item
            a.nav-link(href="#")
              svg.feather.feather-layers(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                polygon(points="12 2 2 7 12 12 22 7 12 2")
                polyline(points="2 17 12 22 22 17")
                polyline(points="2 12 12 17 22 12")
              span.ml-2 Inventory
          li.nav-item
            a.btn.btn-sm.btn-warning.ml-3.mt-2(href="https://www.zabbix.com/")
              svg.bi.bi-book(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z")
              span.ml-2 Read tutorial
          li.nav-item
            a.btn.btn-sm.btn-danger.ml-3.mt-2(href="/controller/networks")
              svg.bi.bi-book(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z")
              span.ml-2 Back
          //- li.nav-item
          //-   a.btn.btn-sm.btn-primary.ml-3.mt-2(href="/windows").
              
          //-     Windows
              
          //- li.nav-item
          //-   a.btn.btn-sm.btn-primary.ml-3.mt-2(href="/linux").
              
          //-     Linux
              
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4.py-4
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item.active(aria-current="page") Home
          li.breadcrumb-item
            a(href="#") All Dashboard
      h1.h2 Dashboard
      p This is the homepage of a monitor shows the online status of all servers on ZeroTier.
      .row.my-4
        .col-12.col-lg-5.mb-4.mb-lg-0
          .card
            h5.card-header CPU
            .card-body
              b.card-title The CPU utilization expressed in Windows.
              #cpu-chart
                p= "Last "+(data.cpulast.result[0].lastvalue/1).toFixed(2)+" % "
                p= "Min "+(data.cpuuti.result[0].value_min/1).toFixed(2)+" % " 
                p= "Avg "+(data.cpuuti.result[0].value_avg/1).toFixed(2)+" % "
                p= "Max "+(data.cpuuti.result[0].value_max/1).toFixed(2)+" % "
        .col-12.col-lg-4
          .card
            h5.card-header Number of CPUs
            .card-body
              h5.card-title
              p= "Windows : "+ (data.core.result[0].value_avg)+" Core "
        .col-12.col-md-6.mb-4.mb-lg-0.col-lg-3
          .card
            h5.card-header Memory
            .card-body
              h5.card-title
              p Windows
              p= "Memory Utilization = "+(data.ramuti.result[0].value_avg/1).toFixed(2)+" % "
              p= "Total Memory "+(data.totalram.result[0].value_min/1024/1024/1024).toFixed(2)+" GB "
              p= "Used Memory "+(data.usedram.result[0].value_min/1024/1024/1024).toFixed(2)+" GB "
      .row
        .col-12.col-xl-8.mb-4.mb-lg-0
          .card
            h5.card-header List of server
            .card-body
              .table-responsive
                table.table

                  tbody
                    tr 
                        - for (var i = 0; i < data.member.result.length; ++i) {
                            p= "Host name : "+data.member.result[i].host

                            - for (var j = 0; j < data.member.result[i].interfaces.length; ++j) {
                                p= "Ip : "+data.member.result[i].interfaces[j].ip
                            - }
                            hr
                        - }
        .col-12.col-xl-4
          .card
            h5.card-header Storage 
            .card-body
              h5.card-title
              p Windows 
              p= "Space Utilization "+(data.spaceuti.result[0].value_avg/1).toFixed(2)+" % "
              p= "Total Space "+(data.totalspace.result[0].value_min/1024/1024/1024).toFixed(2)+" GB "
              p= "Used Space "+(data.usedspace.result[0].value_min/1024/1024/1024).toFixed(2)+" GB "
        .col-12.col-xl-4.py-4
          .card
            h5.card-header Latency
            .card-body
              #latency-chart
        //  ping status 
        .col-12.col-xl-4.py-4
          .card
            h5.card-header Ping status
            .card-body
                - for (var j = 0; j < result.length; ++j) {
                p="Windows IP : "+result[j].host
                p="Avg : "+result[j].avg+" ms"
                hr
                - }
        .col-12.col-xl-6
          .card
            h5.card-header CPU load
            .card-body
              h5.card-title
              #cpuload-chart
              //
                 <p class="card-text">Core : 0</p>
                                      <p class="card-text text-success">4.6% increase since last month</p>
                                    </div> 
        
        footer.pt-5.d-flex.justify-content-between
          span
            | Copyright © 2019-2020 
            a(href="https://zerotier.com") ZeroTier
          ul.nav.m-0
            li.nav-item
              a.nav-link.text-secondary(aria-current="page", href="#") Privacy Policy
            li.nav-item
              a.nav-link.text-secondary(href="#") Terms and conditions
            li.nav-item
              a.nav-link.text-secondary(href="#") Contact
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js", integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
//  Github buttons 
script(async, defer, src="https://buttons.github.io/buttons.js")
script.
  new Chartist.Line('#traffic-chart', {
                  labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
                  series: [
                      [23000, 25000, 19000, 34000, 56000, 64000]
                  ]
              }, {
                  low: 0,
                  showArea: true
              });
  
            // CPU Graph
            //-   new Chartist.Line('#cpu-chart', {
            //-       labels: [1, 2, 3, 4],
            //-       series: [
            //-           [1, 2, 3, 1],
            //-            [0, 0, 0, 1],
            //-           [2.5, 2, 1, 2]
            //-       ]
            //-   }, {
            //-       high: 3,
            //-       low: 0,
            //-       showArea: true,
            //-       showLine: false,
            //-       showPoint: false,
            //-       fullWidth: true,
            //-       axisX: {
            //-           showLabel: false,
            //-           showGrid: false
            //-       }
            //-   });
  
  
              // latency
              var chart = new Chartist.Line('#latency-chart', {
                  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                  series: [
                      [1, 5, 2, 5, 4, 3, 9],
                      [2, 6, 4, 8, 2, 5, 1],
                      [5, 4, 6, 2, 1, 0.8, 0.5]
                  ]
              }, {
                  low: 0,
                  showArea: true,
                  showPoint: false,
                  fullWidth: true
              });
              chart.on('draw', function(data) {
                  if (data.type === 'line' || data.type === 'area') {
                      data.element.animate({
                          d: {
                              begin: 2000 * data.index,
                              dur: 2000,
                              from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                              to: data.path.clone().stringify(),
                              easing: Chartist.Svg.Easing.easeOutQuint
                          }
                      });
                  }
              });
  
  
              // cpu load
  
            var dataValue = (data.cpulast.result[0].value_avg);
            var chart = new Chartist.Line('#cpuload-chart', {
                  labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
                  series: [dataValue]
              }, {
                  fullWidth: true,
                  chartPadding: {
                      right: 10
                  },
                  lineSmooth: Chartist.Interpolation.cardinal({
                      fillHoles: true,
                  }),
                  low: 0
              });
  