doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        style.
            p{
                display:inline;
            }
            p.green{
                color:green;
            }
    body 
        //Cpu
        p The CPU utilization expressed in %
        br
        p last 
        p= (data.cpulast.result[0].lastvalue/1).toFixed(2)+" % "
        br
        p min 
        p= (data.cpuuti.result[0].value_min/1).toFixed(2)+" % "
        br 
        p avg 
        p= (data.cpuuti.result[0].value_avg/1).toFixed(2)+" % "
        br 
        p max 
        p= (data.cpuuti.result[0].value_max/1).toFixed(2)+" % "
        br 

        //Ram
        p Memory Utilization
        br
        p= (data.ramuti.result[0].value_avg/1).toFixed(2)+" % "
        br

        //Hdd
        p Space Utilization
        br
        p= (data.spaceuti.result[0].value_avg/1).toFixed(2)+" % "
        br

        //ping status
        hr
        - for (var j = 0; j < result.length; ++j) {
        p InputHost :
        p=result[j].inputHost
        br
        p Host :
        p=result[j].host
        br
        p Output :
        p=result[j].output
        br
        p Time :
        p=result[j].time
        br
        p Min :
        p=result[j].min
        br
        p Max
        p=result[j].max
        br
        p Avg :
        p=result[j].avg
        hr
        - }

        // users
        - for (var a = 0; a < data.users.result.length; ++a) {
        p= data.users.result[a].host
        p= data.users.result[a].hostid
        p= data.users.result[a].extend
        - for (var b = 0; b < data.users.result[a].interfaces.length; ++b) {
        p= data.users.result[a].interfaces[b].ip
        p= data.users.result[a].interfaces[b].interfaceid
        - }
        hr
        - }

        
        